@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  aside { display: none !important; }
  body { background: white !important; color: black !important; }
  .no-print { display: none !important; }
}
